@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;400&display=swap');
footer {
    position: relative;
    width: 100%;
    font-family: "Source Serif Pro", serif;
    padding-top: 30px;
    background: linear-gradient(315deg, #01cafc 0%, #1b03f1 74%);
    background-size: 100%;
    line-height: 2rem;
    overflow-y: scroll;
}

.footer-list>li,
.connect {
    width: 100%;
    margin-left: 20%;
    text-align: left;
}

.copyrights {
    background: linear-gradient(315deg, #01cafc 0%, #1b03f1 74%);
}